<form class="row g-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="aplicaCssErro('nome')">
    <div class="col-12">
      <label for="nome" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        formControlName="nome"
        placeholder="Digite seu nome"
        required
      />
      <div class="invalid-feedback">Nome é obrigatório.</div>
    </div>
  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('email')">
    <div class="col-12">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Digite seu email"
        required
      />
      <div class="invalid-feedback">
        {{ verificaEmailInvalido() ? "Email invàlido" : "Email é obrigatório" }}
      </div>
    </div>
  </div>

  <ng-container formGroupName="endereco">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.cep')">
          <label for="cep" class="form-label">CEP</label>
          <input type="text" class="form-control" id="cep" required formControlName="cep"/>
          <div class="invalid-feedback">CEP é obrigatório.</div>
        </div>

        <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.numero')">
          <label for="numero" class="form-label">Número</label>
          <input type="text" class="form-control" id="numero" required formControlName="numero"/>
          <div class="invalid-feedback">Número é obrigatório.</div>
        </div>

        <div class="col-md-6">
          <label for="complemento" class="form-label">Complemento</label>
          <input type="text" class="form-control" id="complemento" formControlName="complemento"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-12" [ngClass]="aplicaCssErro('endereco.rua')">
        <label for="rua" class="form-label">Rua</label>
        <input type="text" class="form-control" id="rua" required formControlName="rua"/>
        <div class="invalid-feedback">Rua é obrigatório.</div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-5" [ngClass]="aplicaCssErro('endereco.bairro')">
          <label for="bairro" class="form-label">Bairro</label>
          <input type="text" class="form-control" id="bairro" required formControlName="bairro"/>
          <div class="invalid-feedback">Bairro é obrigatório.</div>
        </div>

        <div class="col-md-4" [ngClass]="aplicaCssErro('endereco.cidade')">
          <label for="cidade" class="form-label">Cidade</label>
          <input type="text" class="form-control" id="cidade" required formControlName="cidade"/>
          <div class="invalid-feedback">Cidade é obrigatório.</div>
        </div>

        <div class="col-md-3" [ngClass]="aplicaCssErro('endereco.estado')">
          <label for="estado" class="form-label">Estado</label>
          <input type="text" class="form-control" id="estado" required formControlName="estado"/>
          <div class="invalid-feedback">Estado é obrigatório.</div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="col-12">
    <button type="submit" class="btn btn-primary" style="margin-right: 5px">
      Enviar
    </button>
    <button type="button" class="btn btn-secondary" (click)="onReset()">
      Limpar
    </button>
  </div>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
