<form class="row g-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="aplicaCssErro('nome')">
    <div class="col-12">
      <label for="nome" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        formControlName="nome"
        placeholder="Digite seu nome"
        required
      />
      <div class="invalid-feedback">Nome é obrigatório.</div>
    </div>
  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('email')">
    <div class="col-12">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Digite seu email"
        required
      />
      <div class="invalid-feedback">
        {{verificaEmailInvalido()? 'Email invàlido' : 'Email é obrigatório' }}
    </div>
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Enviar</button>
    <button type="button" class="btn btn-secondary" (click)="onReset()">Limpar</button>
  </div>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
